/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* pywal-wlogout */

/* Importing pywal colors */

/* @import '../../.cache/wal/colors-waybar.css'; */

@define-color foreground #F8F8F2;
@define-color background #282A36;
@define-color cursor #44475A;

@define-color color0 #6272A4;
@define-color color1 #FF5555;
@define-color color2 #FFB86C;
@define-color color3 #F1FA8C;
@define-color color4 #50FA7B;
@define-color color5 #BD93F9;
@define-color color6 #8BE9FD;
@define-color color7 #FF79C6;
@define-color color8 #6272A4;
@define-color color9 #FF5555;
@define-color color10 #FFB86C;
@define-color color11 #F1FA8C;
@define-color color12 #50FA7B;
@define-color color13 #BD93F9;
@define-color color14 #8BE9FD;
@define-color color15 #FF79C6;


window {
    font-family: Input Mono Regular;
    font-size: 16pt;
    color: #cdd6f4; /* text */
    background-color: rgba(30, 30, 46, 0.6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-color: @background;
    margin: 50px 10px;
    animation: gradient_f 10s ease-in infinite;
    border-radius: 30px; /* Increased border radius for a more rounded look */
}

button:focus {
    background-color: @color5;
    color: #1e1e2e;
    background-size: 50%;
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    box-shadow: 0 0 20px @color5;

}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock:focus {
    background-image: image(url("./icons/lock.png"));
}
#lock {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout:focus {
    background-image: image(url("./icons/logout.png"));
}
#logout {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend:focus {
    background-image: image(url("./icons/sleep.png"));
}
#suspend {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown:focus {
    background-image: image(url("./icons/power.png"));
}
#shutdown {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot:focus {
    background-image: image(url("./icons/restart.png"));
}
#reboot {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate:focus {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate {
    background-image: image(url("./icons/hibernate-hover.png"));
}
