[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "home/.themes"]
	path = home/.themes
	url = https://github.com/addy-dclxvi/gtk-theme-collections
[submodule "home/.config/awesome/lib/bling"]
	path = home/.config/awesome/lib/bling
	url = https://github.com/BlingCorp/bling
