
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#define dark     #16171e
#define gray     #262833
#define light    #BFBFBF
#define medium   #6272A4
#define cyan     #8BE9FD
#define cyanL    #9AEDFE
#define green    #50FA7B
#define greenL   #5AF78E
#define orange   #FFB86C
#define orangeL  #FFB86C
#define pink     #FF79C6
#define pinkL    #FF92D0
#define purple   #BD93F9
#define purpleL  #CAA9FA
#define red      #FF5555
#define redL     #FF6E67
#define yellow   #F1FA8C
#define yellowL  #F4F99D

*background:                      dark
*foreground:                      light
*fading:                          15
*fadeColor:                       black
*cursorColor:                     cyanL
*pointerColorBackground:          cyan
*pointerColorForeground:          cyanL

*.foreground: light
*.background: dark

!! black dark/light
*.color0:     dark
*.color8:     gray

!! red dark/light
*.color1:     red
*.color9:     redL

!! green dark/light
*.color2:     green
*.color10:    greenL

!! yellow dark/light
*.color3:     yellow
*.color11:    yellowL

!! purple dark/light
*.color4:     purple
*.color12:    purpleL

!! pink dark/light
*.color5:     pink
*.color13:    pinkL

!! cyan dark/light
*.color6:     cyan
*.color14:    cyanL

!! white and orange
*.color7:     light
*.color15:    orange

Xcursor.theme: xcursor-breeze-snow
Xcursor.size:                    0

rofi.terminal: termite
