/**
 * This theme is intended for a 8x2 items list menu with a headerbar.
 */
@import "shared/settings.rasi"
* {
  background-color: @background;
  text-color: @foreground-list;
  font: @text-font;
}
