* {
  accent:           #BD93F9;
  background:       #16171e;
  background-light: #262833;
  background-focus: #262833;
  foreground:       #F8F8F2;
  foreground-list:  #F8F8F2;
  on:               #50FA7B;
  off:              #FF5555;
}
